.heading {
	font-size: 23px;
	width: 100%;
	margin: 0px;
}

.note {
	font-size: 15px;
	color: black;
}

body {
	background-size: cover;
}

.div-speed {
	float: left;
}

.div-speed-img {
	width: 200px;
	border-radius: 100px;
}

#speed {
	font-size: 23px;
	margin: 15px;
}

.div-volume {
	float: right;
}

.div-volume-img {
	width: 200px;
	border-radius: 100px;
}

#volume {
	font-size: 23px;
	margin: 15px;
}

.play-button {
	width: 130px;
	font-size: 25px;
}

canvas {
	border: 5px solid;
	border-radius: 20px;
	animation: example 3s infinite alternate;
}

@keyframes example {
	from {
		border-color: red;
	}

	to {
		border-color: blue;
	}
}