#footer-top {
	border: 10px solid darkgray;
	border-radius: 2px;
}

canvas {
	border-radius: 20px;
	animation-name: example;
	animation-duration:
		4s;
	margin-top: 50px;
	animation-iteration-count: infinite;
}

@keyframes example {
	from {
		box-shadow: 5px 5px 38px yellow;
	}

	to {
		box-shadow: 5px 5px 38px magenta;
	}
}