h1 {
	font-family: 'Special Elite', fantasy;
	color: rgb(38, 0, 255);
}

body {
	background-color: gradient(red, green, blue);
}

#header {
	background-color: orange;
}

#show_sketch {
	float: right;
}

canvas {
	border: 5px solid white;
	border-radius: 20px;
	animation-name: example;
	animation-duration:
		4s;
	margin-top: 50px;
	animation-iteration-count: infinite;
}

@keyframes example {
	from {
		box-shadow: 1px 1px 38px yellow;
	}

	to {
		box-shadow: 5px 1px 38px magenta;
	}
}



p, span {
	padding-top: 10px;
	font-family: 'Special Elite', fantasy;
	font-size: 25px;

}

.right {
	float: right;
}

.left {
	float: left;
}